h3= `Falatu, ${name}!`
p Boas-vindas ao Falatu! 
  | É um grande prazer ter a sua companhia.
  | Esperamos que você se divirta bastante utilizando a plataforma.

p.
  Atenciosamente, a equipe do #[a(href="https://falatu.fyi") Falatu].
