doctype html
head
  link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap')
  link(rel='stylesheet', href='/resources/styles/style.css' data-inline)
body
  h3= `Falatu, ${name}!`
  p Boas-vindas ao Falatu! 
    | É um grande prazer ter a sua companhia.
    | Esperamos que você se divirta bastante utilizando a plataforma.

  p.
    Atenciosamente, a equipe do #[a(href="https://falatu.fyi") Falatu].
