h3= `Falatu, ${name}!`
p Recebemos um pedido de recuperação de senha para a sua conta do Falatu.
  | Para recuperar sua senha, é bem simples. Basta você utilizar este token:
p=`${token}`

hr

p.
  Se não foi você quem fez essa solicitação, não se preocupe. Basta ignorar
  esta mensagem que o token expira sozinho em 24 horas. Sua conta está segura.

p.
  Atenciosamente, a equipe do #[a(href="https://falatu.fyi") Falatu].
